<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Jatayu :: Homepage </title>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
</head>
<body>
 <div class="nav">
      <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="about"><a href="#">About</a></li>
        <li class="news"><a href="#">Events</a></li>
        <li class="contact"><a href="#">Contact Us</a></li>

        <li>
            <div class="login" id="preSign">
                <a href="javascript" onclick="" title="Sign In">Sign In</a>
            </div></li>
       </ul>
 </div>

</body>
</html>